extends pagewrapper

block content
    #main
        .header
            h1 Hearts of Iron 4 Aircraft Calculator
            h2 a tool for planning you air force buildup
        .content
            h2.content-subhead How to use this Calculator:
            p
                | To use this calculator, simply select a plane type and enter how many of those plans you want to build. If you want to build multiple plane types, just click on "add plane type". Afterwards, enter some data about your production efficiency, factory efficiency and the time span of this calculation. Now hit the "Calculate!" Button and enjoy your result.
            h2.content-subhead Now let's enter your data:
            form.pure-form.pure-form-aligned
                fieldset
                    .pure-control-group#group1
                        label Air Unit 1
                        input#amount1(type='number', min='0', max='1000', step='1', value='1')
                        select#type1
                            option(value='cas1') CAS I
                            option(value='cas2') CAS II
                            option(value='cas3') CAS III
                            option(value='fighter') Interwar Fighter
                            option(value='fighter1') Fighter I
                            option(value='fighter2') Fighter II
                            option(value='fighter3') Fighter III
                            option(value='nav1') Naval Bomber I
                            option(value='nav2') Naval Bomber II
                            option(value='nav3') Naval Bomber III
                            option(value='hv1') Heavy Fighter I
                            option(value='hv2') Heavy Fighter II
                            option(value='hv3') Heavy Fighter III
                            option(value='bomber') Interwar Bomber
                            option(value='tac1') Tac Bomber I
                            option(value='tac2') Tac Bomber II
                            option(value='tac3') Tac Bomber III
                            option(value='sb1') Strat Bomber I
                            option(value='sb2') Strat Bomber II
                            option(value='sb3') Strat Bomber III
                            option(value='trans') Transport
                            option(value='jf1') Jet Fighter I
                            option(value='jf2') Jet Fighter II
                            option(value='jtb1') Jet Tac Bomber I
                            option(value='jtb2') Jet Tac Bomber II
                            option(value='jsb1') Jet Strat Bomber I

            form.pure-form.pure-form-aligned
                fieldset
                    .pure-control-group
                        label New Parameter
                        button.pure-button(type='button' onclick="addAirwingField()") add plane type

            form.pure-form.pure-form-aligned
                fieldset
                    .pure-control-group
                        label(for='fe') Factory Efficiency Bonus
                        input#fe(type='number', min='0', max='100', step='1', value='0')
                        span.pure-form-message-inline %
                    .pure-control-group
                        label(for='pe') Production Efficiency at Start of Production
                        input#pe(type='number', min='0', max='100', step='1', value='50' onchange="changePE()")
                        span.pure-form-message-inline %
                    .pure-control-group
                        label Production Efficiency Cap
                        input#pec(type='number', min='50', max='100', step='1', value='50' onchange="changePEC()")
                        span.pure-form-message-inline %
                    .pure-control-group
                        label(for='outputper') Output in
                        input#time(type='number', min='1', max='100', step='1', value='1')
                        select#outputper
                            option(value='30') Month(s)
                            option(value='1') Day(s)
                            option(value='365') Year(s)
            form.pure-form.pure-form-aligned
                fieldset
                    .pure-controls
                        button.pure-button.pure-button-primary(type='button', onclick='sendCalcRequest()') Calculate!
            h2.content-subhead Result:
            p
                #result
            p
                a(href="/")
                    button.pure-button back to main page
    script(src='js/airforcescreen.js')
    script(src='js/entryChecker.js')