extends pagewrapper

block content
    #main
        .header
            h1 Hearts of Iron 4 Division Calculator
            h2 a tool for planning you army buildup
        .content
            h2.content-subhead How to use this Calculator:
            p
                | To use this calculator, just use a provided template or design your division from the scratch in the division designer below. You can also choose a template and edit it in the designer. Afterwards, enter some data about your production efficiency, factory efficiency and the time span of this calculation. Now you can specify if you either provide a number of divisions you want to equip in the time span and get the number of factories you need to do so, or you can provide the number of factories that you have and the calculator will tell you how to assign this factories in the best way and how many divisions you can produce with it. Finally hit the "Calculate!" Button and enjoy your result.
                p
                | If you provide the calculator a number of factories and let it assign them by itself, it can happen that one factory get assigned to less or to much. This happens due to a rounding problem. This problem occurs specially if you assign a very low number of factories to a complex template.
            h2.content-subhead Now let's enter your data:
            form.pure-form.pure-form-aligned
                fieldset
                    .pure-control-group
                        label(for='template') You can select a template
                        select#template(onchange="setTemplate()")
                            option(value='empty') Empty
                            option(value='20i') 20 Width Infantry
                            option(value='40i') 40 Width Infantry
                            option(value='40iat') 40 Width Infantry With Anti Tank
                            option(value='20t') 20 Width Tanks
                            option(value='40t') 40 Width Tanks
                            option(value='spacemarines') Space Marines

            |You can edit the table by clicking on the cells - use it like the division designer in the game.
            #placeholder(style='position: relative; margin-bottom: 10px')
            table#divisionTable.pure-table.pure-table-bordered
                thead
                    tr
                        th Support
                        th Battalion
                        th Battalion
                        th Battalion
                        th Battalion
                        th Battalion
                tbody
                    tr
                        td +
                        td +
                        td +
                        td +
                        td +
                        td +
                    tr
                        td +
                        td +
                        td +
                        td +
                        td +
                        td +
                    tr
                        td +
                        td +
                        td +
                        td +
                        td +
                        td +
                    tr
                        td +
                        td +
                        td +
                        td +
                        td +
                        td +
                    tr
                        td +
                        td +
                        td +
                        td +
                        td +
                        td +
            .pure-g
                form.pure-form.pure-form-aligned.pure-u-1.pure-u-lg-1-2
                    fieldset
                    legend Equipment Level
                    .pure-control-group
                        label Infantry Equipment
                        select#infeql
                            option(value='1') Basic
                            option(value='2') I
                            option(value='3') II
                            option(value='4') III
                    .pure-control-group
                        label Artillery
                        select#artl
                            option(value='1') I
                            option(value='2') II
                            option(value='3') III
                    .pure-control-group
                        label Anti Tank
                        select#atl
                            option(value='1') I
                            option(value='2') II
                            option(value='3') III
                    .pure-control-group
                        label Anti Air
                        select#aal
                            option(value='1') I
                            option(value='2') II
                            option(value='3') III
                    .pure-control-group
                        label Rocket Artillery
                        select#ral
                            option(value='1') I
                            option(value='2') II
                    .pure-control-group
                        label Mechanized
                        select#ml
                            option(value='1') I
                            option(value='2') II
                            option(value='3') III
                    .pure-control-group
                        label Light Tank
                        select#ltl
                            option(value='1') Basic
                            option(value='2') I
                            option(value='3') II
                            option(value='4') III
                    .pure-control-group
                        label L. SPG
                        select#lspgl
                            option(value='1') I
                            option(value='2') II
                            option(value='3') III
                    .pure-control-group
                        label L. Tank Destroyer
                        select#ltdl
                            option(value='1') I
                            option(value='2') II
                            option(value='3') III
                    .pure-control-group
                        label L. Anti Air
                        select#laal
                            option(value='1') I
                            option(value='2') II
                            option(value='3') III
                    .pure-control-group
                        label Medium Tank
                        select#mtl
                            option(value='1') I
                            option(value='2') II
                            option(value='3') III
                    .pure-control-group
                        label M. SPG
                        select#mspgl
                            option(value='1') I
                            option(value='2') II
                            option(value='3') III
                    .pure-control-group
                        label M. Tank Destroyer
                        select#mtdl
                            option(value='1') I
                            option(value='2') II
                            option(value='3') III
                    .pure-control-group
                        label M. Anti Air
                        select#maal
                            option(value='1') I
                            option(value='2') II
                            option(value='3') III
                    .pure-control-group
                        label Heavy Tank
                        select#htl
                            option(value='1') I
                            option(value='2') II
                            option(value='3') III
                    .pure-control-group
                        label H. SPG
                        select#hspgl
                            option(value='1') I
                            option(value='2') II
                            option(value='3') III
                    .pure-control-group
                        label H. Tank Destroyer
                        select#htdl
                            option(value='1') I
                            option(value='2') II
                            option(value='3') III
                    .pure-control-group
                        label H. Anti Air
                        select#haal
                            option(value='1') I
                            option(value='2') II
                            option(value='3') III
                form.pure-form.pure-form-aligned.pure-u-1.pure-u-lg-1-2
                    fieldset
                    legend Production Data
                    .pure-control-group
                        label(for='fe') Factory Efficiency Bonus
                        input#fe(type='number', min='0', max='100', step='1', value='0')
                        span.pure-form-message-inline %
                    .pure-control-group
                        label(for='pe') Production Efficiency at Start of Production
                        input#pe(type='number', min='50', max='100', step='1', value='50')
                        span.pure-form-message-inline %
                    .pure-control-group
                        label(for='pe') Production Efficiency Cap
                        input#pec(type='number', min='50', max='100', step='1', value='50')
                        span.pure-form-message-inline %
                    .pure-control-group
                        label(for='outputper') Output in
                        input#time(type='number', min='1', max='100', step='1', value='1')
                        select#outputper
                            option(value='30') Month(s)
                            option(value='1') Day(s)
                            option(value='365') Year(s)
                    fieldset
                        .pure-control-group
                            label Set as Parameter
                            button.pure-button#aodb(type='button' disabled=true onclick="enableAOD()") Amount of Divisions
                        .pure-control-group
                            label(for='aod') Amount of Divisions
                            input#aod(type='number', min='1', max='1000', step='1', value='1')
                    fieldset
                        .pure-control-group
                            label Set as Parameter
                            button.pure-button#aofb(type='button' onclick='enableAOF()') Amount of Factories
                        .pure-control-group
                            label(for='aof') Amount of Factories
                            input#aof(type='number', min='1', max='1000', step='1', value='5' disabled=true)
                    fieldset
                        .pure-controls
                            button.pure-button.pure-button-primary(type='button', onclick='sendCalcRequest()') Calculate!
            h2.content-subhead Result:
            p
                #result
            p
                a(href="/")
                    button.pure-button back to main page
    script(src='js/divisionscreen.js')