extends pagewrapper

block content
    #main
        .header
            h1 Hearts of Iron 4 Factory Calculator
            h2 a simple tool to calculate the most efficient use of your factories
        .content
            h2.content-subhead What is the aim of this Project?
            p
                |On this website you can find three calculators that will help you to set up your production lines in the most efficient way.
                p
                |The #[a(href="/divisioncalculator") Division Calculator] can be used to get the number of factories you need to produce a given amount of divisions for a given division template in a given time or it can assign a given amount of factories to a given division template in the most effecitve way.
                |The #[a(href="/navycalculator") Navy] and #[a(href="/aircraftcalculator") Aircraft] Calculators will return the number of factories/dockyards needed to produce a given number of ships/airplanes.
                p
                    h2.content-subhead Where can I find the Calculators?
                    p
                        |You can find the Calculators via the menu or by clicking on one of these buttons:

            .pure-g
                button.pure-button.button-landingpage.button-green.pure-u-1.pure-u-sm-1-4(onclick='location.href=\'/divisioncalculator\';') Division Calculator
                button.pure-button.button-landingpage.button-blue.pure-u-1.pure-u-sm-1-4(onclick='location.href=\'/navycalculator\';') Navy Calculator
                button.pure-button.button-landingpage.button-red.pure-u-1.pure-u-sm-1-4(onclick='location.href=\'/aircraftcalculator\';') Aircraft Calculator
