<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example with a side menu that hides on mobile, just like the Pure website.">
    <title>Responsive Side Menu &ndash; Layout Examples &ndash; Pure</title>
    
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    
    
        <!--[if lte IE 8]>
            <link rel="stylesheet" href="css/layouts/side-menu-old-ie.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
            <link rel="stylesheet" href="css/layouts/side-menu.css">
        <!--<![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>






<div id="layout">

    <div id="main">
        <div class="header">
            <h1>Page Title</h1>
            <h2>A subtitle for your page goes here</h2>
        </div>

        <div class="content">
            <h2 class="content-subhead">How to use this layout</h2>
            <p>
                To use this layout, you can just copy paste the HTML, along with the CSS in <a href="/css/layouts/side-menu.css" alt="Side Menu CSS">side-menu.css</a>, and the JavaScript in <a href="/js/ui.js">ui.js</a>. The JS file uses vanilla JavaScript to simply toggle an <code>active</code> class that makes the menu responsive.
            </p>

            <h2 class="content-subhead">Now Let's Speak Some Latin</h2>
            <div id="placeholder"  style="position: relative; margin-bottom: 10px"> </div>
            <table class="pure-table pure-table-bordered" id="divisionTable">
                <thead>
                <tr>
                    <th>Support</th>
                    <th>Battalion</th>
                    <th>Battalion</th>
                    <th>Battalion</th>
                    <th>Battalion</th>
                    <th>Battalion</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td>+</td>
                    <td>+</td>
                    <td>+</td>
                    <td>+</td>
                    <td>+</td>
                    <td>+</td>
                </tr>

                <tr>
                    <td>+</td>
                    <td>+</td>
                    <td>+</td>
                    <td>+</td>
                    <td>+</td>
                    <td>+</td>
                </tr>

                <tr>
                    <td>+</td>
                    <td>+</td>
                    <td>+</td>
                    <td>+</td>
                    <td>+</td>
                    <td>+</td>
                </tr>
                <tr>
                    <td>+</td>
                    <td>+</td>
                    <td>+</td>
                    <td>+</td>
                    <td>+</td>
                    <td>+</td>
                </tr>
                <tr>
                    <td>+</td>
                    <td>+</td>
                    <td>+</td>
                    <td>+</td>
                    <td>+</td>
                    <td>+</td>
                </tr>
                </tbody>
            </table>

            <form class="pure-form pure-form-aligned">
                <fieldset>
                    <div class="pure-control-group">
                        <label for="fe">Factory Efficiency</label>
                        <input id="fe" type="number" min="1" max="200" step="1" value="100">
                        <span class="pure-form-message-inline">%</span>
                    </div>

                    <div class="pure-control-group">
                        <label for="pe">Production Efficiency</label>
                        <input id="pe" type="number" min="1" max="200" step="1" value="50">
                        <span class="pure-form-message-inline">%</span>
                    </div>

                    <div class="pure-control-group">
                        <label for="aod">Amount of Divisions</label>
                        <input id="aod" type="number" min="1" max="1000" step="1" value="1">
                    </div>

                    <div class="pure-control-group">
                        <label for="outputper">Output per</label>
                        <select id="outputper">
                            <option value="30">Month</option>
                            <option value="1">Day</option>
                            <option value="365">Year</option>
                        </select>
                    </div>

                    <div class="pure-controls">
                        <button type="button" class="pure-button pure-button-primary" onclick="sendCalcRequest()">Calculate!</button>
                    </div>
                </fieldset>
            </form>

            <h2 class="content-subhead">Result:</h2>
            <p>
                <div id="result"></div>
            </p>
        </div>
    </div>
</div>

<script>

    sendCalcRequest= function () {
        var outputperField = document.getElementById("outputper");
        var sendObject = {
            battalions : [],
            factoryEfficiency: document.getElementById("fe").value,
            productionEfficiency: document.getElementById("pe").value,
            amountOfDivisions: document.getElementById("aod").value,
            outputPer: outputperField.options[outputperField.selectedIndex].value
        };
        var divisionTable = document.getElementById("divisionTable");
        if (divisionTable != null) {
            for (var i = 1; i < divisionTable.rows.length; i++) {
                var unitList = [];
                for (var j = 0; j < divisionTable.rows[i].cells.length; j++){
                    unitList.push(divisionTable.rows[i].cells[j].innerHTML.toString());
                }
                sendObject.battalions.push(unitList);
            }
        }
        $.ajax({url: "/getResult",contentType: 'application/json', type: 'POST', data: JSON.stringify(sendObject), dataType: 'json',
            success: function(data, textStatus, xhr){
                if(xhr.status==200){
                    var resultTable = "<table class=\"pure-table pure-table-bordered\" id=\"typeTable\">\n" +
                        "<thead>"+
                        "<tr>"+
                        "<th>Equipment Type</th>"+
                        "<th>Number of Factories needed</th>"+
                        "</tr>"+
                        "</thead>"+
                        "                <tbody>\n"
                    if(Array.isArray(data)){
                        for(factory of data){
                            var insertData = "                <tr>\n" +
                            "                    <td>"+factory.name+"</td>\n" +
                            "                    <td>"+factory.amount+"</td>\n" +
                            "                </tr>\n";
                            resultTable = resultTable.concat(insertData);
                        }
                    }
                    resultTable = resultTable.concat("                </tbody>\n" +
                        "            </table>");
                    document.getElementById('result').innerHTML = resultTable;
                }
        }});
    };

   var setOnClickTable = function (id, callback, parameter, header, firstColumnSupport, callbackSupport) {
        var table = document.getElementById(id);
        var startRow = 0;
        if(header) startRow = 1;
        if (table != null) {
            for (var i = startRow; i < table.rows.length; i++) {
                for (var j = 0; j < table.rows[i].cells.length; j++)
                    if(j==0){
                        if(firstColumnSupport){
                            table.rows[i].cells[j].onclick = function () {
                                parameter.push(this);
                                callbackSupport(parameter);
                            };
                        }
                        else{
                            table.rows[i].cells[j].onclick = function () {
                                parameter.push(this);
                                callback(parameter);
                            };
                        }
                    }
                    else {
                        table.rows[i].cells[j].onclick = function () {
                            parameter.push(this);
                            callback(parameter);
                        };
                    }
            }
        }
    };

    var makeTypeTable = function (tableCells) {
        var newTableCell = [];
        newTableCell.push(tableCells[tableCells.length-1]);
        var unitTable = "<table class=\"pure-table pure-table-bordered\" id=\"typeTable\">\n" +
            "                <tbody>\n" +
            "                <tr>\n" +
            "                    <td class='add'>Infantry Battalion</td>\n" +
            "                    <td class='add'>Mobile Battalion</td>\n" +
            "                </tr>\n" +
            "\n" +
            "                <tr>\n" +
            "                    <td class='add'>Armored Battalion</td>\n" +
            "                    <td class='remove'>Remove</td>\n" +
            "                </tr>\n" +
            "                </tbody>\n" +
            "            </table>";
        document.getElementById('placeholder').innerHTML = unitTable;
        setOnClickTable("typeTable", makeUnitTable, newTableCell)
    };

    var makeSupportTable = function (tableCells) {
        var newTableCell = [];
        newTableCell.push(tableCells[tableCells.length-1]);
        var myTable = "<table class=\"pure-table pure-table-bordered\" id=\"supportTable\">\n" +
            "                <tbody>\n" +
            "                <tr>\n" +
            "                    <td class='add'>Pioneers</td>\n" +
            "                    <td class='add'>Field Hospital</td>\n" +
            "                    <td class='add'>Support Rocket Artillery</td>\n" +
            "                </tr>\n" +
            "\n" +
            "                <tr>\n" +
            "                    <td class='add'>Military Police</tdclass>\n" +
            "                    <td class='add'>Logistic Company</td>\n" +
            "                    <td class='add'>Signal Company</td>\n" +
            "                </tr>\n" +
            "\n" +
            "                <tr>\n" +
            "                    <td class='add'>Recon Company</tdclass>\n" +
            "                    <td class='add'>Maintenance Company</td>\n" +
            "                </tr>\n" +
            "\n" +
            "                <tr>\n" +
            "                    <td class='add'>Support Artillery</tdclass>\n" +
            "                    <td class='add'>Support Anti Tank</td>\n" +
            "                </tr>\n" +
            "\n" +
            "                <tr>\n" +
            "                    <td class='add'>Support Anti Air</td>\n" +
            "                    <td class='remove'>Remove</td>\n" +
            "                </tr>\n" +
            "                </tbody>\n" +
            "            </table>";
        document.getElementById('placeholder').innerHTML = myTable;
        setOnClickTable("supportTable", selectUnit, newTableCell);
    };

    var makeUnitTable = function (tableCells) {
        if(tableCells[tableCells.length-1].innerHTML.toString()=="Infantry Battalion"){
            var myTable = "<table class=\"pure-table pure-table-bordered\" id=\"infanteryTable\">\n" +
                "                <tbody>\n" +
                "                <tr>\n" +
                "                    <td class='add'>Infantry</td>\n" +
                "                    <td class='add'>Artillery</td>\n" +
                "                </tr>\n" +
                "\n" +
                "                <tr>\n" +
                "                    <td class='add'>Anti Tank</tdclass>\n" +
                "                    <td class='add'>Anti Air</td>\n" +
                "                </tr>\n" +
                "\n" +
                "                <tr>\n" +
                "                    <td class='add'>Mountaineer</td>\n" +
                "                    <td class='add'>Marines</td>\n" +
                "                </tr>\n" +
                "\n" +
                "                <tr>\n" +
                "                    <td class='add'>Paratrooper</td>\n" +
                "                    <td class='add'>Rocket Artillery</td>\n" +
                "                </tr>\n" +
                "                </tbody>\n" +
                "            </table>";
            document.getElementById('placeholder').innerHTML = myTable;
            setOnClickTable("infanteryTable", selectUnit, tableCells);
        };
        if(tableCells[tableCells.length-1].innerHTML.toString()=="Mobile Battalion"){
            var myTable = "<table class=\"pure-table pure-table-bordered\" id=\"mobileTable\">\n" +
                "                <tbody>\n" +
                "                <tr>\n" +
                "                    <td class='add'>Cavalry</td>\n" +
                "                    <td class='add'>Motorized Infantry</td>\n" +
                "                </tr>\n" +
                "\n" +
                "                <tr>\n" +
                "                    <td class='add'>Mechanized Infantry</tdclass>\n" +
                "                    <td class='add'>Motorized Rocket Artillery</td>\n" +
                "                </tr>\n" +
                "                </tbody>\n" +
                "            </table>";
            document.getElementById('placeholder').innerHTML = myTable;
            setOnClickTable("mobileTable", selectUnit, tableCells);
        };
        if(tableCells[tableCells.length-1].innerHTML.toString()=="Armored Battalion"){
            var myTable = "<table class=\"pure-table pure-table-bordered\" id=\"armoredTable\">\n" +
                "                <tbody>\n" +
                "                <tr>\n" +
                "                    <td class='add'>Light Tank</td>\n" +
                "                    <td class='add'>Medium Tank</td>\n" +
                "                    <td class='add'>Light SP Artillery</td>\n" +
                "                    <td class='add'>Medium SP Artillery</td>\n" +
                "                </tr>\n" +
                "\n" +
                "                <tr>\n" +
                "                    <td class='add'>Heavy Tank</tdclass>\n" +
                "                    <td class='add'>Super Heavy Tank</td>\n" +
                "                    <td class='add'>Heavy SP Artillery</td>\n" +
                "                    <td class='add'>Super Heavy Artillery</td>\n" +
                "                </tr>\n" +
                "\n" +
                "                <tr>\n" +
                "                    <td class='add'>Modern Tank</td>\n" +
                "                    <td class='add'>Light TD</td>\n" +
                "                    <td class='add'>Modern SP Artillery</td>\n" +
                "                    <td class='add'>Light SP Anti Air</td>\n" +
                "                </tr>\n" +
                "\n" +
                "                <tr>\n" +
                "                    <td class='add'>Medium TD</td>\n" +
                "                    <td class='add'>Heavy TD</td>\n" +
                "                    <td class='add'>Medium SP Anti Air</td>\n" +
                "                    <td class='add'>Heavy SP Anti Air</td>\n" +
                "                </tr>\n" +
                "\n" +
                "                <tr>\n" +
                "                    <td class='add'>Modern TD</td>\n" +
                "                    <td class='add'>Super SP Heavy Anti Air</td>\n" +
                "                    <td class='add'>Modern SP Anti Air</td>\n" +
                "                    <td class='add'></td>\n" +
                "                </tr>\n" +
                "                </tbody>\n" +
                "            </table>";
            document.getElementById('placeholder').innerHTML = myTable;
            setOnClickTable("armoredTable", selectUnit, tableCells);
        };
        if(tableCells[tableCells.length-1].innerHTML.toString()=="Remove"){
            tableCells[0].innerHTML="+";
            document.getElementById('placeholder').innerHTML = "";
        };
    };



    var selectUnit = function (tableCells) {
      if(tableCells[tableCells.length-1].innerHTML.toString()=="Remove"){
          tableCells[0].innerHTML="+";
      }
      else {
          tableCells[0].innerHTML=tableCells[tableCells.length-1].innerHTML;
      }
      document.getElementById('placeholder').innerHTML = "";
    };

    setOnClickTable("divisionTable", makeTypeTable, [], true, true, makeSupportTable);
</script>


<script src="js/ui.js"></script>

</body>
</html>
