extends pagewrapper

block content
    #main
        .header
            h1 Disclaimer
        .content
            p Last updated: March 03, 2018
            p
                | The information contained on http://www.hoi4factorycalculator.org/ website (the "Service") is for general information purposes only.
            p
                | Hearts of Iron 4 Factory Calculator assumes no responsibility for errors or omissions in the contents on the Service.
            p
                | In no event shall Hearts of Iron 4 Factory Calculator be liable for any special, direct, indirect, consequential, or incidental damages or any damages whatsoever, whether in an action of contract, negligence or other tort, arising out of or in connection with the use of the Service or the contents of the Service. Hearts of Iron 4 Factory Calculator reserves the right to make additions, deletions, or modification to the contents on the Service at any time without prior notice.
            p
                | Hearts of Iron 4 Factory Calculator does not warrant that the website is free of viruses or other harmful components.
            h2 External links disclaimer
            p
                | http://www.hoi4factorycalculator.org/ website may contain links to external websites that are not provided or maintained by or in any way affiliated with Hearts of Iron 4 Factory Calculator
            p
                | Please note that the Hearts of Iron 4 Factory Calculator does not guarantee the accuracy, relevance, timeliness, or completeness of any information on these external websites.
