doctype html
head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='A simple calulator thats helps you to assign the right amounts of factories to your production lines in Hearts of Iron 4.')
    title Factory Calculator for Hearts of Iron 4
    link(rel='stylesheet', href='https://unpkg.com/purecss@1.0.0/build/pure-min.css', integrity='sha384-', crossorigin='anonymous')
    link(rel='stylesheet', href='https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css')
    link(rel='stylesheet', href='css/style.css')
    //if lte IE 8
      link(rel='stylesheet', href='css/layouts/side-menu-old-ie.css')
    // [if gt IE 8] <!
    link(rel='stylesheet', href='css/layouts/side-menu.css')
    // <![endif]
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    // Global site tag (gtag.js) - Google Analytics
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-114749288-1')
    script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-114749288-1');
    body
        #layout
            // Menu toggle
            a#menuLink.menu-link(href='/')
                // Hamburger icon
                span
            #menu
                .pure-menu
                    a.pure-menu-heading(href='/') hoi4
                    ul.pure-menu-list
                        li.pure-menu-item
                            a.pure-menu-link(href='/') Home
                        li.pure-menu-item
                            a.pure-menu-link(href='/divisioncalculator') Divsion Calculator
                        li.pure-menu-item
                            a.pure-menu-link(href='/navycalculator') Navy Calculator
                        li.pure-menu-item
                            a.pure-menu-link(href='/aircraftcalculator') Aircraft Calculator
            block content
        script(src='js/ui.js')
