.remove{
  color: red;
}

.add{
  color: limegreen;
}

.button-landingpage {
  font-size: 85%;
  margin-bottom: 10px;
  margin-left: 3px;
  margin-right: 3px;
  height: 60px;
  font-weight: bold;
}

.button-red{
  background: crimson;
}

.button-green{
  background: limegreen;
}

.button-blue{
  background: deepskyblue;
}